/* screen - desktop-4 */

.desktop-4 {
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  min-height: 161.32vw;
  min-width: 100.0vw;
  width: 100%;
}

.desktop-4 .sale {
  align-items: center;
  background-color: var(--x1c1c1c);
  display: flex;
  gap: 0.69vw;
  height: 3.54vw;
  justify-content: center;
  padding: 0.9vw 33.82vw;
  position: relative;
  width: 100.0vw;
}

.desktop-4 .text-194 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.03vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-4 .header {
  align-items: center;
  background-color: var(--ffffff);
  border-bottom-style: solid;
  border-bottom-width: 0.07vw;
  border-color: var(--ececec);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  height: 3.54vw;
  justify-content: space-between;
  padding: 0.9vw 4.86vw;
  position: relative;
  width: 100.0vw;
}

.desktop-4 .menu-1 {
  align-items: center;
  display: flex;
  gap: 1.67vw;
  position: relative;
  width: 27.36vw;
}

.desktop-4 .iconly-sharp {
  height: 1.67vw;
  position: relative;
  width: 1.67vw;
}

.desktop-4 .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.56vw;
  position: relative;
}

.desktop-4 .phone {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  width: fit-content;
}

.desktop-4 .logo {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.1vw;
  margin-top: -0.24vw;
  position: relative;
  width: fit-content;
}

.desktop-4 .text-217 {
  direction: rtl;
  height: 4.58vw;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4.86vw;
  margin-top: 2.22vw;
  text-align: center;
  width: 90.28vw;
}

.desktop-4 .number {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.11vw;
  height: 3.89vw;
  margin-top: 1.39vw;
  position: relative;
  width: 100.0vw;
}

.desktop-4 .line-2 {
  margin-top: -0.14vw;
}

.desktop-4 .text-218 {
  align-self: stretch;
  color: var(--a4a4a4);
  direction: rtl;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.desktop-4 .text-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
  height: 98.26vw;
  margin-left: 20.28vw;
  margin-top: 2.22vw;
  position: relative;
  width: 59.44vw;
}

.desktop-4 .text-4 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.83vw;
  position: relative;
  width: 100%;
}

.desktop-4 .text {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.11vw;
  position: relative;
  width: 100%;
}

.desktop-4 .text-2 {
  align-items: center;
  align-self: stretch;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
}

.desktop-4 .text-221 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-222 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-224 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-225 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-227 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-229 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-231 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .text-233 {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.desktop-4 .email {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 1.11vw;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.desktop-4 .infosportakwcom {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  opacity: 0.7;
  position: relative;
  text-align: right;
  width: fit-content;
}

.desktop-4 .phone-number {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 1.11vw;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.desktop-4 .address {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  opacity: 0.7;
  position: relative;
  width: fit-content;
}

.desktop-4 .footer {
  align-items: flex-end;
  background-color: var(--x1c1c1c);
  display: flex;
  flex-direction: column;
  gap: 3.06vw;
  height: 34.72vw;
  margin-top: 6.94vw;
  padding: 3.75vw 4.86vw;
  position: relative;
  width: 100.0vw;
}

.desktop-4 .email-1 {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  gap: 1.39vw;
}

.desktop-4 .text-199 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  width: fit-content;
}

.desktop-4 .email-2 {
  align-items: center;
  background-color: var(--ffffff);
  border-radius: 0.14vw;
  display: flex;
  justify-content: space-between;
  padding: 0.56vw 1.11vw 0.56vw 0.56vw;
  width: 36.39vw;
}

.desktop-4 .button {
  align-items: center;
  background-color: var(--ff7c17);
  border-radius: 0.14vw;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.28vw;
  justify-content: center;
  padding: 0.56vw 1.11vw;
  position: relative;
}

.desktop-4 .button-1 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-4 .text-200 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-4 .info {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.22vw;
  position: relative;
  width: 100%;
}

.desktop-4 .menu-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.desktop-4 .payment-icons-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.83vw;
  position: relative;
}

.desktop-4 .payment-icons {
  background-image: url(../img/size-sm--payment-method-visa.svg);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.07vw solid;
  border-color: var(--ffffff);
  border-radius: 0.28vw;
  height: 1.67vw;
  position: relative;
  width: 2.36vw;
}

.desktop-4 .payment-icons-1 {
  background-color: var(--ffffff);
  border: 0.07vw solid;
  border-radius: 0.28vw;
  height: 1.67vw;
  position: relative;
  width: 2.36vw;
}

.desktop-4 .visa-logo {
  height: 32.58%;
  left: 14.12%;
  position: absolute;
  top: 33.75%;
  width: 70.00%;
}

.desktop-4 .apple-pay {
  height: 43.41%;
  left: 14.71%;
  position: absolute;
  top: 29.17%;
  width: 71.62%;
}

.desktop-4 .mastercard {
  height: 0.9vw;
  left: 0.42vw;
  position: absolute;
  top: 0.35vw;
  width: 1.53vw;
}

.desktop-4 .menu-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6.94vw;
  position: relative;
}

.desktop-4 .menu-item {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.83vw;
  position: relative;
  width: 8.33vw;
}

.desktop-4 .menu {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.83vw;
  position: relative;
}

.desktop-4 .text-201 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  width: fit-content;
}

.desktop-4 .text-20 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-4 .text-2-1 {
  margin-top: -0.07vw;
}

.desktop-4 .text-2-2 {
  opacity: 0.7;
}

.desktop-4 .text-216 {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.46vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.desktop-4 .email-3 {
  flex: 0 0 auto;
  position: relative;
}

.desktop-4 .line {
  align-self: stretch;
  height: 0.14vw;
  position: relative;
  width: 100%;
}

.desktop-4 .text-2-3 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.46vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
