/* screen - desktop-3 */

.desktop-3 {
  background-color: var(--ffffff);
  min-height: 164.03vw;
  min-width: 100.0vw;
  position: relative;
  width: 100%;
}

.desktop-3 .sale {
  align-items: center;
  background-color: var(--x1c1c1c);
  display: flex;
  gap: 0.69vw;
  height: 3.54vw;
  justify-content: center;
  left: 0;
  padding: 0.9vw 33.82vw;
  position: absolute;
  top: 0;
  width: 100.0vw;
}

.desktop-3 .text-150 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.03vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .header {
  align-items: center;
  background-color: var(--ffffff);
  border-bottom-style: solid;
  border-bottom-width: 0.07vw;
  border-color: var(--ececec);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  height: 3.54vw;
  justify-content: space-between;
  left: 0;
  padding: 0.9vw 4.86vw;
  position: absolute;
  top: 3.54vw;
  width: 100.0vw;
}

.desktop-3 .menu-1 {
  align-items: center;
  display: flex;
  gap: 1.67vw;
  position: relative;
  width: 27.36vw;
}

.desktop-3 .iconly-sharp {
  height: 1.67vw;
  position: relative;
  width: 1.67vw;
}

.desktop-3 .frame-6 {
  align-items: center;
  display: inline-flex;
  gap: 0.56vw;
}

.desktop-3 .phone-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  width: fit-content;
}

.desktop-3 .logo {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.1vw;
  margin-top: -0.24vw;
  position: relative;
  width: fit-content;
}

.desktop-3 .footer {
  align-items: flex-end;
  background-color: var(--x1c1c1c);
  display: flex;
  flex-direction: column;
  gap: 3.06vw;
  left: 0;
  padding: 3.75vw 4.86vw;
  position: absolute;
  top: 129.31vw;
  width: 100.0vw;
}

.desktop-3 .email {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.39vw;
  position: relative;
}

.desktop-3 .text-155 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  width: fit-content;
}

.desktop-3 .email-1 {
  align-items: center;
  background-color: var(--ffffff);
  border-radius: 0.14vw;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0.56vw 1.11vw 0.56vw 0.56vw;
  position: relative;
  width: 36.39vw;
}

.desktop-3 .button-3 {
  align-items: center;
  background-color: var(--ff7c17);
  border-radius: 0.14vw;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.28vw;
  justify-content: center;
  padding: 0.56vw 1.11vw;
  position: relative;
}

.desktop-3 .button-4 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .text-156 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .info-2 {
  align-items: flex-end;
  align-self: stretch;
  gap: 2.22vw;
  width: 100%;
}

.desktop-3 .menu-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.desktop-3 .payment-icons-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.83vw;
  position: relative;
}

.desktop-3 .payment-icons {
  background-image: url(../img/size-sm--payment-method-visa.svg);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.07vw solid;
  border-color: var(--ffffff);
  border-radius: 0.28vw;
  height: 1.67vw;
  position: relative;
  width: 2.36vw;
}

.desktop-3 .payment-icons-1 {
  background-color: var(--ffffff);
  border: 0.07vw solid;
  border-radius: 0.28vw;
  height: 1.67vw;
  position: relative;
  width: 2.36vw;
}

.desktop-3 .visa-logo {
  height: 32.58%;
  left: 14.12%;
  position: absolute;
  top: 33.75%;
  width: 70.00%;
}

.desktop-3 .apple-pay {
  height: 43.41%;
  left: 14.71%;
  position: absolute;
  top: 29.17%;
  width: 71.62%;
}

.desktop-3 .mastercard {
  height: 0.9vw;
  left: 0.42vw;
  position: absolute;
  top: 0.35vw;
  width: 1.53vw;
}

.desktop-3 .menu-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6.94vw;
  position: relative;
}

.desktop-3 .menu-item {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.83vw;
  position: relative;
  width: 8.33vw;
}

.desktop-3 .menu {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.83vw;
  position: relative;
}

.desktop-3 .text-157 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  width: fit-content;
}

.desktop-3 .text-1 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .text-16 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.46vw;
  margin-top: -0.07vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-3 .text-1-1 {
  line-height: 1.46vw;
  opacity: 0.7;
  white-space: nowrap;
}

.desktop-3 .text-172 {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.46vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.desktop-3 .text-173 {
  direction: rtl;
  left: 4.86vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9.31vw;
  width: 90.28vw;
}

.desktop-3 .number-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.11vw;
  left: 0;
  position: absolute;
  top: 15.28vw;
  width: 100.0vw;
}

.desktop-3 .line-2 {
  margin-top: -0.14vw;
}

.desktop-3 .text-174 {
  align-self: stretch;
  color: var(--a4a4a4);
  direction: rtl;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.desktop-3 .line {
  align-self: stretch;
  height: 0.14vw;
  position: relative;
  width: 100%;
}

.desktop-3 .cards {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 2.08vw 2.08vw;
  justify-content: space-between;
  left: 4.86vw;
  position: absolute;
  top: 21.39vw;
  width: 67.22vw;
}

.desktop-3 .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.83vw;
  position: relative;
  width: 21.04vw;
}

.desktop-3 .info {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.56vw;
  position: relative;
  width: 100%;
}

.desktop-3 .image {
  align-items: flex-start;
  align-self: stretch;
  background-image: url(../img/image-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 21.32vw;
  justify-content: space-between;
  padding: 0.83vw;
  position: relative;
  width: 100%;
}

.desktop-3 .frame-5 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.69vw;
  opacity: 0;
  width: 100%;
}

.desktop-3 .button {
  align-items: center;
  background-color: var(--x1c1c1c);
  border-radius: 0.14vw;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.28vw;
  justify-content: center;
  padding: 0.56vw 1.11vw;
  position: relative;
}

.desktop-3 .button-5 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .info-1 {
  align-items: center;
  width: 14.44vw;
}

.desktop-3 .phone {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.35vw;
  opacity: 0.4;
  position: relative;
  text-align: center;
}

.desktop-3 .x5000-kd {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.35vw;
  position: relative;
  text-align: center;
}

.desktop-3 .button-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--ff7c17);
  border-radius: 0.14vw;
  display: flex;
  gap: 0.28vw;
  height: 3.12vw;
  justify-content: center;
  padding: 0.56vw 1.11vw;
  position: relative;
  width: 100%;
}

.desktop-3 .button-2 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-6 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-7 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-8 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-9 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-10 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-11 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-12 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .button-13 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .menu-4 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
  left: 75.21vw;
  position: absolute;
  top: 21.39vw;
  width: 19.93vw;
}

.desktop-3 .menu-item-1 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.56vw;
  position: relative;
}

.desktop-3 .text-1-2 {
  line-height: normal;
  margin-top: -0.07vw;
  opacity: 0.4;
}

.desktop-3 .menu-item-1-item {
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
  width: fit-content;
}

.desktop-3 .frame-20 {
  align-items: center;
  display: inline-flex;
  gap: 1.39vw;
  justify-content: flex-end;
}

.desktop-3 .text-189 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.desktop-3 .ellipse-11 {
  background-color: var(--x1c1c1c);
  border-radius: 0.28vw;
  height: 0.56vw;
  opacity: 0.7;
  position: relative;
  width: 0.56vw;
}

.desktop-3 .pages {
  align-items: flex-start;
  display: inline-flex;
  gap: 1.11vw;
  left: 63.19vw;
  position: absolute;
  top: 120.28vw;
}

.desktop-3 .number {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: center;
  width: 2.22vw;
}

.desktop-3 .active {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.42vw;
  position: relative;
  width: 2.22vw;
}

.desktop-3 .number-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop-3 .info-3 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.desktop-3 .line-3 {
  align-self: stretch;
  height: 0.14vw;
  position: relative;
  width: 100%;
}

.desktop-3 .text-1-3 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
}
