@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,400,700,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/69024c344e1c71fb6c05aa2a.69024c354e1c71fb6c05aa2d.QEgsGOj.hcp.png");

@font-face {
  font-family: "Plus Jakarta Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/PlusJakartaDisplay-Medium.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.t-shirt-energy-red-and {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 5.0vw;
  margin-top: -0.26vw;
  position: relative;
  text-align: center;
}

.cards-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4.1vw;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.footer-item {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3.08vw;
  position: relative;
  width: 30.77vw;
}

.rectangle-1170 {
  background-color: var(--x1c1c1c);
  height: 696.92vw;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: -0.26vw;
  width: 100.0vw;
}

.header-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.close {
  height: 3.08vw;
  position: relative;
  width: 3.08vw;
}

.stroke-19 {
  height: 117.57%;
  left: -8.76%;
  position: absolute;
  top: -8.80%;
  width: 117.59%;
}

.stroke-20 {
  height: 117.67%;
  left: -8.84%;
  position: absolute;
  top: -8.84%;
  width: 117.67%;
}

.text-5 {
  letter-spacing: 0;
  position: relative;
}

.navbar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 1.67vw;
  position: relative;
}

.t-shirt-energy-red-and-white {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.35vw;
  margin-top: -0.07vw;
  position: relative;
  text-align: center;
}

.left {
  align-items: center;
  background-color: var(--ffffff);
  border: 0.07vw solid;
  border-color: var(--ececec);
  border-radius: 1.32vw;
  display: flex;
  gap: 0.69vw;
  height: 2.64vw;
  justify-content: center;
  padding: 0.42vw 0.49vw;
  position: relative;
  width: 2.64vw;
}

.right {
  align-items: center;
  background-color: var(--ffffff);
  border: 0.07vw solid;
  border-color: var(--ececec);
  border-radius: 1.32vw;
  display: flex;
  gap: 0.69vw;
  height: 2.64vw;
  justify-content: center;
  padding: 0.42vw 0.49vw;
  position: relative;
  transform: rotate(-180deg);
  width: 2.64vw;
}

.frame {
  flex: 0 0 auto;
  position: relative;
}

.navbar-link-text {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.07vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.i {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}

.text_label {
  align-self: stretch;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
}